@import "./../../styles/variables.scss";

// Using the mixin container from the variables file in the styles folder.
.loginContainer {
  @include form-container;

  ul {
    list-style-type: none;
  }
}


@media(max-width: 500px) {

  .loginContainer {

    .card {
      padding: 10px 50px;

      .backLink {
        margin-top: 25px;
        margin-left: -2rem;
        margin-bottom: -80px;
        font-size: 28px;
      }

    }

    .logo {
      width: 50px;
      margin: 30px 0 10px;
    }
  
    .sub {
      font-size: 13px;
    }

  }

}


@media(max-width: 470px) {

  .loginContainer {

    .card {
      
      padding: 1px 30px;

      .form {

        input {
          padding: 12px 20px;
          width: 200px;
        }
  
        button {
          width: 218px;
          font-size: 0.9rem;
        }
  
      }

    }

  }

}