@import './../../styles/variables.scss';

.registerContainer{

    @include form-container;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // margin-top: 300px;
    ul{
        list-style-type: none;
    }

    .register-validate {
        color: red;
        border: solid 1px red;
        border-left-width: 7px;
        padding: 1rem;
        margin-bottom: 2rem;
        font-weight: bold;
        font-size: 0.8rem;

        ul {
            padding: 0;
            margin: 0;
            font-size: 1rem;
            font-weight: normal;

            li {
                list-style: circle;
                list-style-position: inside;
                padding: 0 0 0 10px;
                margin: 5px 0 0;
            }
        }
    }
}