@import '../../styles/variables.scss';

.recipeCard {

    margin: 10px 5px;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transition: .3s;
    overflow: hidden;
    transition: .3s;

    width: calc(25% - 20px);

    a img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        transition: .3s;

        &:hover {
            transform: scale(1.02);
        }
    }

    .recipeHeading {
        padding: 3px 10px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: .3s;

        a {
            text-decoration: none;
            color: #000;

            h2 {
                height: 2.5rem;
                margin: 0;
                width: 100%;
                font-size: 1.25rem;
                transition: .3s;
                text-transform: capitalize;

                &:hover {
                    color: #888;
                }
            }
        }

        svg {
            padding: 3px;
            width: 30px;
            height: 25px;
            transition: .3s;
            cursor: pointer;

            path {
                fill: #fff;
                stroke: #000;
                stroke-width: 40px;
                transition: .3s;

                &:hover {
                    fill: #F94642;
                    stroke: #F94642;
                }
            }


        }
    }

    .recipeInfo {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        color: #888;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;

            svg {
                margin-right: 3px;
            }
        }

    }
}


/* Responsiveness */
@media (max-width: 1000px) {

    .recipeCard {

        .recipeInfo {
            display: block;
            padding: 10px;
            color: #888;

            div {
                display: block;
                text-transform: capitalize;
            }

        }

    }

}


@media(max-width: 800px) {

    .recipeCard {
        width: calc(50% - 20px);
    }

}


@media (max-width: 450px) {

    .recipeCard {
        width: 100%;
    }

}