@import '../../styles/variables.scss';

.recipePage {

    width: 100%;

    .titleCard,
    h1 {
        margin: 0 10rem;
    }

    .topSection {
        padding-top: 120px;
        padding-bottom: 30px;
        background-color: #09b561;
        background-image: url(../../../public/images/blob-scene-haikei.png);
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
    }

    h1 {
        font-size: 3rem;
        color: white;

        svg {
            font-size: 2rem;
        }
    }

    .medium-heading {
        margin-top: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        //text-decoration: underline;
        font-size: 2rem;
    }

    ol {
        padding-left: 25px;
        font-weight: bold;
    }

    li {
        font-size: 1.2rem;
    }

    li::before {
        padding-right: 8px;
        color: black;
    }

    img {
        border-radius: 13px;
    }

    .top-section {
        width: 100%;
        display: flex;

        .quickInfo {
            border-radius: 13px;
            background-color: white;
            padding: 1rem;
            margin-bottom: 2rem;
            box-sizing: border-box;
            box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
            text-decoration: none;
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 100%;


            .small-heading {
                text-transform: uppercase;
                font-weight: bold;
                text-decoration: underline;
                font-size: 1.6rem;
            }

            .yield {
                font-size: 0.9rem;
                color: rgb(181, 181, 181);
                font-weight: bold;
            }

            // .carbs,
            // .protein {
            //     border-bottom: 2px solid rgb(181, 181, 181, 0.2);
            // }

            .recipe-information {

                display: flex;

                .chart {
                    width: 40%;
                }

                .breakdown {
                    width: 60%;

                    ul {
                        list-style: none;
                        padding: 0;
                        font-weight: bold;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 2px solid rgb(181, 181, 181, 0.2);

                        div {
                            padding: 0;
                            margin: 0;
                        }
                    }

                    li.carbs::before {
                        content: "•";
                        font-size: 1.5rem;
                        padding-right: 8px;
                        color: #F94642;
                    }

                    li.protein::before {
                        content: "•";
                        font-size: 1.5rem;
                        padding-right: 8px;
                        color: #3177BB;
                    }

                    li.fats::before {
                        content: "•";
                        font-size: 1.5rem;
                        padding-right: 8px;
                        color: #FDA120;
                    }
                }
            }
        }

        .image-container {
            justify-content: flex-end;

            img {
                bottom: 0px;
                margin-left: 2rem;
            }
        }

    }



    /* Health Labels */
    .health-labels {

        width: 100%;

        .label-heading {
            margin: 20px 0;
        }

        .label-container {

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .label-card {

                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px 5px;
                border-radius: 10px;
                box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);

                width: calc(25% - 20px);

                h2 {
                    color: rgba(0, 0, 0, 0.5);
                    transition: .3s;
                    // &:hover {
                    //     color: #222222
                    // }
                    &:hover {
                        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
                        padding-bottom: 2px;
                    }
                }


                a {
                    text-decoration: none;
                    // transition: .3s;
                    // &:hover {
                    //     color: #222222
                    // }
                    // padding: 0;

                    // &:hover {
                    //     border-bottom: 2px solid #000000;
                    //     padding-bottom: 2px;
                    // }
                }
                /*
                h2 {
                    color: #09b561;
                    text-decoration: none;
                    transition: .3s;

                    &:hover {
                        color: #066c3b;
                    }
                }


                a {
                    color: #09b561;
                }
                */


            }

        }

    }


    /* Grab the Recipe */
    .recipe-link {

        margin-top: 20px;

        a {
            color: #09b561;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
            transition: .3s;

            svg {
                font-size: 1.5rem;
                padding: 0;
                margin: 0;
            }

            &:hover {
                color: #066c3b;
            }
        }

    }

}