@import '../../styles/variables.scss';

.recipePage {

    width: 100%;

    .titleCard,
    h1 {
        margin: 0 10rem;
    }

    .topSection {
        padding-top: 120px;
        padding-bottom: 30px;
        background-color: #09b561;
        background-image: url(../../../public/images/blob-scene-haikei.png);
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
    }

    h1 {
        font-size: 3rem;
        color: white;
        width: 40%;

        svg {
            padding-left: 1rem;
            font-size: 2rem;
        }
    }

    .medium-heading {
        margin-top: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline;
        font-size: 2rem;
    }

    ul {
        list-style: none;
        padding: 0;
        font-weight: bold;
    }

    li::before {
        content: '-';
        padding-right: 8px;
        color: black;
    }

    img {
        border-radius: 13px;
    }


    .quickInfo {

        border-radius: 13px;
        background-color: white;
        padding: 1rem;
        margin-bottom: 2rem;
        width: 50%;
        box-sizing: border-box;
        box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
        text-decoration: none;

        .small-heading {
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: underline;
            font-size: 1.6rem;
        }

        .yield {
            font-size: 0.9rem;
            color: rgb(181, 181, 181);
            font-weight: bold;
        }

        .carbs, .protein {
            border-bottom: 2px solid rgb(181, 181, 181, 0.2);
        }

        li.carbs::before {
            content: "•";
            font-size: 1.5rem;
            padding-right: 8px;
            color: red;
        }

        li.protein::before {
            content: "•";
            font-size: 1.5rem;
            padding-right: 8px;
            color: chartreuse;
        }

        li.fats::before {
            content: "•";
            font-size: 1.5rem;
            padding-right: 8px;
            color: rgb(0, 94, 255);
        }

    }

}