header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    transition: .4s;
    height: 80px;
    padding-top: 20px;

    .logolink {
        display: flex;
        align-items: center;
        margin-left: 100px;
        color: #fff;
        text-decoration: none;

        .iconbg {
            margin-right: 10px;
            background-color: #fff;
            padding: 5px 9px;
            border-radius: 50px;
            border: none;
        }

        .logo {
            width: 25px;
            height: 100%;

        }
    }

    nav {
        ul {
            list-style-type: none;
            display: flex;
            gap: 1em;
            margin: 0;

            li {
                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 4px 0;
                    transition: .3s;
                    font-weight: bold;
                    font-size: 1.2rem;

                    &:hover {
                        border-bottom: 2px solid #fff;
                        padding-bottom: 2px;
                    }
                }
            }
        }
    }



    .login-reg {
        margin-right: 100px;

        ul {
            list-style-type: none;
            display: flex;
            gap: 1em;
            margin: 0;

            li {
                a.link {
                    color: #fff;
                    text-decoration: none;
                    padding: 4px 0;
                    transition: .3s;
                    font-weight: bold;
                    font-size: 1.2rem;

                    &:hover {
                        border-bottom: 2px solid #fff;
                        padding-bottom: 2px;
                    }
                }

                a.cta {
                    background-color: #fff;
                    color: #09b561;
                    padding: 8px 24px;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1.2rem;
                    transition: .3s;
                    border-radius: 50px;

                    &:hover {
                        background-color: #eaeaea;
                    }
                }
            }
        }
    }
}

.scroll {
    background-color: #09b561;
    background-image: url(../../../public/images/blob-scene-haikei.png);
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    padding-top: 0;
}