header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    nav{
        ul{
            list-style-type: none;
            display: flex;
            gap: 1em;
        }
    }

    .login-reg{
        display: flex;
        gap: 1em;
    }
}