.scoutFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 100px 0;

    .footerLink,
    .footerText {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;
        color: #888;
    }

    .footerText {
        margin-left: 100px;

        span {
            display: flex;
            align-items: center;

            &.gap {
                margin-left: 30px;
            }

            img {
                width: 24px;
                margin-right: 3px;
            }
        }
    }

    .footerLink {
        margin-right: 100px;

        a {
            margin-left: 20px;
            color: #888;
            text-decoration: none;
            transition: .3s;

            &:hover {
                color: #bbb;
            }
        }
    }



}


/* Responsiveness */
@media (max-width: 1100px) {

    .scoutFooter {
        .footerText {
            flex-direction: column;
            align-items: flex-start;

            span {
                &.gap {
                    margin: 15px 0;
                }
            }
        }

        .footerLink {
            flex-direction: column;
            align-items: flex-start;

            a {
                margin: 10px 0;
            }
        }
    }

}

@media (max-width: 640px) {

    .scoutFooter {
        flex-direction: column;
        align-items: center;

        .footerText {
            margin: 0;
            flex-direction: column;
            align-items: flex-start;

            span {
                &.gap {
                    margin: 15px 0;
                }
            }
        }

        .footerLink {
            flex-direction: column;
            align-items: flex-start;

            a {
                margin: 10px 0;
            }
        }
    }

}